@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&family=Poiret+One&family=Sacramento&display=swap');

:root {
    --logo-font: 'Poiret One', cursive;
    --serif-font: 'Cormorant Garamond', serif;
    --sans-font: 'Montserrat', sans-serif;

    --primary-color: rgb(75, 75, 75);
    --secondary-color: rgb(220, 227, 241);
    --darker-secondary-color: rgb(150, 162, 175);
}  
    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    max-width: 100%;
    color: var(--primary-color);
    font-family: var(--serif-font);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--darker-secondary-color);
}

hr {
    width: 80%;
    margin: 0 auto;
}

/* header */
header {
    width: 100%;
    position: fixed;
    background-color: var(--primary-color);
    z-index: 10;
}

.header, footer{
    width: 100%;
    max-width: 100%;
    display: flex;
    padding: .5em 2em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header {
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
}

#logo h1 {
    margin: auto;
    align-items: center;
    font-family: var(--logo-font);
    font-size: 2.5em;
    padding: .5em 0;
}


#nav {
    max-width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-family: var(--sans-font);
    z-index: 10;
}

#nav ul {
    display: flex;
    align-content: center;
}

#nav li {
    padding-left: .8em;
}

.current-page {
    border-bottom: 1px solid var(--darker-secondary-color);
    color: var(--darker-secondary-color);
}

#toggler , #sub-toggler {
    display: none;
}

.sub-container {
    position: relative;
    width: fit-content;
}

#toggler + label {
    font-size: 2em;
    color: var(--secondary-color);
    position: absolute;
    cursor: pointer;
    top: 28px;
    right: 20px;
  }

#sub-toggler + label {
    position: absolute;
    cursor: pointer;
    right: auto;
    top: 3px;
}

.close {
    display: none;
}

.collapsing-nav {
   display: none;
}

.collapsing-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid var(--darker-secondary-color);
    border-bottom: 1px solid var(--darker-secondary-color);
    color: var(--secondary-color);
    font-size: 1.2em;
    font-family: var(--sans-font);
    padding:1em;
    row-gap: .2em;
} 

#toggler:checked ~ .collapsing-nav , 
#toggler:checked + label > span.close ,
#sub-toggler:checked ~ .collapsing-nav {
    display: block;
}

#toggler:checked + label > span.open {
    display: none;
}

#submenu ul {
    font-size: 1.2rem;
    border: none;
    font-family: var(--logo-font);
}

/*hero image */

#hero-image {
    width: 100%;
    max-width: 1600px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    background: 
    var(--primary-color)
    url(../images/hero-image.jpg)
    left top / cover
    no-repeat;
}

#hero-image div {
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: relative;
}

#quote {
    color: var(--secondary-color);
    font-family: var(--logo-font);
    position: absolute;
    top: 100px;
    left: 100px;
    padding: 20px 30px;
    border-left: 2px solid var(--primary-color);
}

/* content */

.content {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 1.3em; 
}

section {
    display: flex;
    gap: 2em;
    padding: 2em 0;
    width: 100%;
    max-width: 100%;
    align-items: center;
    margin: 0 auto;
}

section > div {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.text-content {
    width: 100%;
    padding: 0 1em;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
    font-family: var(--sans-font);
}

h3 {
    font-family: var(--sans-font);
    font-weight: 300;
}

section div > img {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-width: 400px;
    margin: 0 auto;
}

/*wines page*/

#wines-intro, #visit-intro{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.sticky-nav {
    max-width: 1240px;
    background-color: white;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 100px;
}

#wines-nav {
    font-family: var(--logo-font);
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    row-gap: .2em;
    width: 90%;
    margin: 0 auto;
    padding: .2em 0;
    border-bottom: 1px solid var(--primary-color);
}

.wine-card li {
    margin: .5em 0;
}

/* visit page */

#experiences {
    max-width:1200px;
    display: flex;
    gap: 2px;
}

#experiences h1 {
    font-family: var(--logo-font);
}

#experiences > .card {
    color: var(--secondary-color);
    width: 33%;
    margin: 0 auto;
    height: 400px;
    --size: 500px;

    background: 
    var(--primary-color)
    var(--url)
    var(--position) / var(--size)
    no-repeat;
}

#barrel-tour {
    --url: url(../images/barrel.jpg);
    --position: top left;
    --size: 400px;
}

#wine-tasting {
    --url: url(../images/tasting.jpg);
    --position: center;
}

#vineyard-tour {
    --url: url(../images/vineyard.jpg);
    --position: top right;
}

.card-content {
    background-color: rgba(0, 0, 0, 0.7);
    width:100%;
    height: 100%;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

table {
    font-size: 1.1em;
    text-align: center;
}

table td:first-child {
    text-align: right;
    font-weight: bold;
    font-size: 0.9em;
}

table tr:nth-child(even) {
    background-color: rgb(240, 239, 239);
}

.table-container {
    width:fit-content;
    margin: 0 auto;
}

.price-list {
    text-align: center;
}
.price-list ul {
    margin: 1em 0;
}

.price-list h3 {
    font-weight: 400;
}

.large-screen {
    display: block;
}

.small-screen {
    display: none;
}

/* booking form */

#booking {
    width: 100%;
    height: fit-content;
    --position: center;
    background: 
    var(--primary-color)
    url(../images/black-grapes.jpg)
    var(--position) / cover
    no-repeat
    fixed;
    margin-bottom: 2em;
    font-family: var(--sans-font);
}

.booking-info {
    text-align: center;
    width: 80%;
    margin: 2em auto;
}

.booking-info a {
    font-family: var(--sans-font);
}

.form-container {
    width: 80%;
    padding: 2em;
    margin: 2em auto;
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px var(--primary-color);
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    margin: 0 auto;
    color: var(--secondary-color);
}

.input-group {
    display:flex;
    flex-wrap: wrap;
    column-gap: .5em;
    width: 100%;
}

.label-top {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 48%;
    min-width: 200px;
}

input[type=radio] + label {
    font-size: .7em;
}

input[type=text], input[type=email]{
    width:100%;
}

option {
    background-color: black;
    padding: 1em;
}

.one-line {
    width: 100%;
}

input, textarea, select, form>button {
    font-family: var(--sans-font);
    color: var(--secondary-color);
    background-color: rgb(75, 75, 75, 0.5);
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    margin: 2px auto;
    padding: .5em;
}   

textarea {
    width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 100px;
}

input:focus , textarea:focus , select:focus {
    border: 1px solid var(--primary-color);
    outline: var(--primary-color) solid;
}

form > button {
    padding: .5em;
    font-size: 1em;
    cursor: pointer;
}

form > button:hover, form > button:focus {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/*booked page */

.logo-center {
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    color: var(--secondary-color);
}
#booking-confirmation {
    margin:0 auto;
    margin-top: calc(50px + 15vw);
    width: 40%;
    text-align: center;
    font-size: 1.3em;
}

#booking-confirmation div{
    margin: 2em auto;
}

/* footer */

footer {
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap-reverse;
}

footer > div {
    width: 33%;
    max-width: 400px;
    padding: 1em 1em;
    height: fit-content; 

    text-align: center;
    font-family: var(--sans-font);
    font-size: 1.2em;
}

#map img {
    width: 100%;
}

#map {
    min-width: 400px;
    overflow: hidden;
}

#social ul {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#social i {
    font-size: 2em;    
}

/* @media queries */

/* Extra large screens (large screen size from 1800px and up) */
@media only screen and (min-width: 1800px) {

    #booking {
        max-width: 1200px;
    }
}

/* Medium screens ( 992px and down) */
@media only screen and (max-width: 992px) {

    footer > div {
        width: 100%;
    }

    #experiences {
       flex-direction: column;
    }
    #experiences div.card {
        width: 90%;
        --size: cover;
        --position: center;
    }
}

/* Medium small screens (768px and up) */

@media only screen and (max-width: 840px) {
    section {
        flex-direction: column;
        max-width: 100%;
    }

    .text-content {
        max-width: 90%;
    }

    #about {
        text-align: center;
    }

    .reverse-wrap div:first-child {
        order: 1;
    }
}

/* All except mobile (768px and up) */

@media only screen and (min-width: 768px) {
    #toggler:checked ~ .collapsing-nav {
        display: none;
    }
}

/* Small screens (768px and down) */

@media only screen and (max-width: 768px) {

    #quote {
        top: 50%;
        left: 5%;
    }

    .large-screen , ul.large-screen li {
        display: none;
    }

    .small-screen {
        display: block;
    }

    .sticky-nav {
        position: relative;
        top: 0;
    }

    .sticky-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #booking {
        max-width: 100%;
    }

    #booking-confirmation {
        width: 90%;
    }

    .form-container {
        width: 98%;
    }

    #map, #map img {
        max-width: 100%;
        min-width: 200px;
    }

    section div img {
        max-width: 100%;
        min-width: 200px;
    }
}