@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&family=Poiret+One&display=swap');

:root {
    --logo-font: 'Poiret One', cursive;
    --serif-font: 'Cormorant Garamond', serif;
    --sans-font: 'Montserrat', sans-serif;

    --primary-color: rgb(75, 75, 75);
    --secondary-color: rgb(210, 221, 231);
    --darker-secondary-color: rgba(210, 221, 231, 0.7);
}  
    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-color);
    font-family: var(--serif-font);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body a {
    text-decoration: none;
    color: inherit;
}

/* header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#logo {
    font-family: var(--logo-font);
    font-size: 1.3em;
    padding: .5em 0;
}


#nav {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

#nav ul {
    display: flex;
    align-content: center;
    list-style: none;
}

#nav li {
    padding-left: .8em;
}

.current-page {
    border-bottom: 1px solid var(--darker-secondary-color);
    color: var(--darker-secondary-color);
}

/* content */

content {
    width: 100%;
    margin: 0 auto;
    font-size: 1.3em; 
}


section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 2em;
    padding: 1.5em 0;
    align-items: center;
    width: fit-content;
    max-width: 90%;
    margin: 0 auto;
}

section > div {
    width: fit-content;
    max-width: 600px;
    margin: 0 auto;
}

section h1 {
    margin-bottom: 1em;
    font-family: var(--sans-font);
}

section img {
    overflow: hidden;
    width: 100%;
    min-width: 400px;
    max-width: 700px;
}

