@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&family=Poiret+One&display=swap');

:root {
    --logo-font: 'Poiret One', cursive;
    --serif-font: 'Cormorant Garamond', serif;
    --sans-font: 'Montserrat', sans-serif;

    --primary-color: rgb(75, 75, 75);
}  
    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-color);
    font-family: var(--serif-font);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    background-color: var(--primary-color);
    color:aliceblue;
}

#logo {
    font-family: var(--logo-font);
    font-size: 1.3em;
    padding: .5em;
}


#nav {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

#nav ul {
    display: flex;
    align-content: center;
    list-style: none;
}

#nav li {
    padding-left: .5em;
}
